.pedal {
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // align-items: center;
  // justify-items: center;

  // & > :first-child,
  // & > :nth-child(2),
  // & > :last-child {
  //   grid-column: span 7;
  // }

  // & > :nth-last-child(3),
  // & > :nth-last-child(2) {
  //   grid-column: span 3;
  // }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.input {
  :first-child {
    display: none;
  }
}

.section {
  border: 2px solid black;
}
